<a href="https://colab.research.google.com/github/SooyMisael/Actividades-Python-432/blob/main/MCA_A10_PY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import random
from tabulate import tabulate

In [2]:
dic={"ID":"","Nombre":"","Apellido Materno":"","Apellido Paterno":"","Sexo":"","Edad":""}

In [3]:
base=[]
hombres=["HUGO","MARTIN",'LUCAS','MATEO','LEO','DANIEL','ALEJANDRO','DANIEL','ALVARO','ADRIAN','DAVID','MARIO','DIEGO','MARCOS','JAVIER']
mujeres=["SOFIA","LUCIA",'MARIA','PAULA','DANIELA','VALERIA','JULIA','CLAUDIA','JIMENA','ROMINA','IRENE','MARTINA','SARA','LAURA','LUCY','ADELINE','ALICE','ELIZABETH','SAMANTHA','OLIVIA','AMALIA']
appaterno=["ARENAS", 'CARMONA','CORDOVA','DELGADO','FERNANDEZ','FUENTES','HERNANDEZ','MARTINEZ','MALDONADO','JUAREZ','HERRERA','LEON','GUERRERO','ORTIZ','REYES','VARGAS','ROMERO','PEREZ','NAVA','SALCEDO']
apmaterno=["FLORES",'ACOSTA','LUGO','RAMOS','GARCIA','HERNANDEZ','GONZALEZ','CARRILLO','TEJEDA','VARGAS','SANCHEZ','ESCALONA','CRUZ','HUERTA','SOSA','PERALTA','ESTRADA','CAMPOS','RIOS','MARCIAL']
sexo=["Hombre","Mujer"]

In [4]:
def generarnombre():
    j=1
    while j<=10:
        sex=random.choice(sexo)
        if sex=="Hombre":
          base.append({"ID":random.randrange(0,1000),"Nombre":random.choice(hombres),"Apellido Paterno":random.choice(appaterno),"Apellido Materno":random.choice(apmaterno),"Edad": random.randrange(18,60),"Sexo":"Hombre"})
          j=j+1
        else:
          base.append({"ID":random.randrange(0,1000),"Nombre":random.choice(mujeres),"Apellido Paterno":random.choice(appaterno),"Apellido Materno":random.choice(apmaterno),"Edad": random.randrange(18,60),"Sexo":"Mujer"})
          j=j+1

In [5]:
def imprimir():
    print(tabulate(base))

In [6]:
def busqueda():
      bandera=True
      buscar=int(input("Ingrese el ID: "))
      for h in base:
        if buscar == h["ID"]:
          print("ID:", h["ID"])
          print("Nombre:", h["Nombre"])
          print("ap. paterno:", h["Apellido Paterno"])
          print("ap. materno:", h["Apellido Materno"])
          print("Edad:", h["Edad"])
          print("Sexo:", h["Sexo"])
          bandera=False
      if bandera==True:
          print("El ID que ingresaste no se encuentra")

In [7]:
def ordenar():
    base.sort(key=lambda h: h["ID"])
    print("Se ha ordenado exitosamente")

In [8]:
def eliminar():
    bandera=True
    elim=int(input("Ingese ID a eliminar:"))
    for e in base.copy():
        if e["ID"] == elim:
            base.remove(e)
            bandera=False
    if bandera==True:
        print("El ID ingresado fue eliminado")

In [9]:
def menu():
    while True:
        print("M E N U")
        print("1. Generar Datos")
        print("2. Desplegar")
        print("3. Buscar")
        print("4. Ordenar")
        print("5. Eliminar")
        print("0. Salir")
        try:
            op=int(input("Ingrese una opcion: "))
            if op == 1:
                generarnombre()
            elif op == 2:
                imprimir()
            elif op == 3:
                busqueda()
            elif op == 4:
                ordenar()
            elif op == 5:
                eliminar()
            elif op == 0:
                False
                break
        except:
            continue
menu()

M E N U
1. Generar Datos
2. Desplegar
3. Buscar
4. Ordenar
5. Eliminar
0. Salir
Ingrese una opcion: 1
M E N U
1. Generar Datos
2. Desplegar
3. Buscar
4. Ordenar
5. Eliminar
0. Salir
Ingrese una opcion: 2
---  -------  -------  --------  --  ------
  6  VALERIA  CARMONA  CRUZ      45  Mujer
573  ALVARO   PEREZ    TEJEDA    28  Hombre
 64  LEO      ORTIZ    ESTRADA   23  Hombre
336  DIEGO    JUAREZ   ESTRADA   56  Hombre
987  DAVID    ARENAS   LUGO      45  Hombre
127  LEO      CARMONA  VARGAS    20  Hombre
763  DAVID    DELGADO  LUGO      48  Hombre
740  IRENE    ARENAS   CAMPOS    18  Mujer
963  LUCAS    SALCEDO  CARRILLO  18  Hombre
968  ALVARO   REYES    SANCHEZ   51  Hombre
---  -------  -------  --------  --  ------
M E N U
1. Generar Datos
2. Desplegar
3. Buscar
4. Ordenar
5. Eliminar
0. Salir
Ingrese una opcion: 3
Ingrese el ID: 64
ID: 64
Nombre: LEO
ap. paterno: ORTIZ
ap. materno: ESTRADA
Edad: 23
Sexo: Hombre
M E N U
1. Generar Datos
2. Desplegar
3. Buscar
4. Ordenar
5. Eliminar
0. Salir
Ingrese una opcion: 4
Se ha ordenado exitosamente
M E N U
1. Generar Datos
2. Desplegar
3. Buscar
4. Ordenar
5. Eliminar
0. Salir
Ingrese una opcion: 2
---  -------  -------  --------  --  ------
  6  VALERIA  CARMONA  CRUZ      45  Mujer
 64  LEO      ORTIZ    ESTRADA   23  Hombre
127  LEO      CARMONA  VARGAS    20  Hombre
336  DIEGO    JUAREZ   ESTRADA   56  Hombre
573  ALVARO   PEREZ    TEJEDA    28  Hombre
740  IRENE    ARENAS   CAMPOS    18  Mujer
763  DAVID    DELGADO  LUGO      48  Hombre
963  LUCAS    SALCEDO  CARRILLO  18  Hombre
968  ALVARO   REYES    SANCHEZ   51  Hombre
987  DAVID    ARENAS   LUGO      45  Hombre
---  -------  -------  --------  --  ------
M E N U
1. Generar Datos
2. Desplegar
3. Buscar
4. Ordenar
5. Eliminar
0. Salir
Ingrese una opcion: 5
Ingese ID a eliminar:64
M E N U
1. Generar Datos
2. Desplegar
3. Buscar
4. Ordenar
5. Eliminar
0. Salir
Ingrese una opcion: 2
---  -------  -------  --------  --  ------
  6  VALERIA  CARMONA  CRUZ      45  Mujer
127  LEO      CARMONA  VARGAS    20  Hombre
336  DIEGO    JUAREZ   ESTRADA   56  Hombre
573  ALVARO   PEREZ    TEJEDA    28  Hombre
740  IRENE    ARENAS   CAMPOS    18  Mujer
763  DAVID    DELGADO  LUGO      48  Hombre
963  LUCAS    SALCEDO  CARRILLO  18  Hombre
968  ALVARO   REYES    SANCHEZ   51  Hombre
987  DAVID    ARENAS   LUGO      45  Hombre
---  -------  -------  --------  --  ------
M E N U
1. Generar Datos
2. Desplegar
3. Buscar
4. Ordenar
5. Eliminar
0. Salir
Ingrese una opcion: 0