<a href="https://colab.research.google.com/github/SooyMisael/Actividades-Python-432/blob/main/MCA_PY_A09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ACTIVIDAD 9


Realiza un programa en python que utilice el siguiente menu:

 MENU

 1.- Crear Diccionario

 2.- Imprimir Diccionario

 0.- Salir



CREAR DICCIIONARIO: funcion que retorne un diccionario con los datos de basicos de un alumno, donde se pide {id,nombre (1 O 2) , appaterno,apmaterno, edad,sexo}, El diccionario se debe generar automaticmanete a partir de listas.



IMPRIMIR DICCIONARIO:  Funcion que reciba como parametro el diccionario, y le de una salida mostrando la informacion en forma de registro que se genero con el diccionario

In [1]:
import random
from tabulate import tabulate

In [2]:
dic={"ID":"","Nombre":"","Apellido Materno":"","Apellido Paterno":"","Edad":"","Sexo":""}

In [3]:
base=[]
hombres=["HUGO","MARTIN",'LUCAS','MATEO','LEO','DANIEL','ALEJANDRO','DANIEL','ALVARO','ADRIAN','DAVID','MARIO','DIEGO','MARCOS','JAVIER']
mujeres=["SOFIA","LUCIA",'MARIA','PAULA','DANIELA','VALERIA','JULIA','CLAUDIA','JIMENA','ROMINA','IRENE','MARTINA','SARA','LAURA','LUCY','ADELINE','ALICE','ELIZABETH','SAMANTHA','OLIVIA','AMALIA']
appaterno=["ARENAS", 'CARMONA','CORDOVA','DELGADO','FERNANDEZ','FUENTES','HERNANDEZ','MARTINEZ','MALDONADO','JUAREZ','HERRERA','LEON','GUERRERO','ORTIZ','REYES','VARGAS','ROMERO','PEREZ','NAVA','SALCEDO']
apmaterno=["FLORES",'ACOSTA','LUGO','RAMOS','GARCIA','HERNANDEZ','GONZALEZ','CARRILLO','TEJEDA','VARGAS','SANCHEZ','ESCALONA','CRUZ','HUERTA','SOSA','PERALTA','ESTRADA','CAMPOS','RIOS','MARCIAL']
sexo=["Hombre","Mujer"]

In [4]:
def generarnombre():
    j=1
    while j<=10:
        sex=random.choice(sexo)
        if sex=="Hombre":
          base.append({"ID":random.randrange(3000,4000),"Nombre":random.choice(hombres),"Apellido Paterno":random.choice(appaterno),"Apellido Materno":random.choice(apmaterno),"Edad": random.randrange(18,60),"Sexo":"Hombre"})
          j=j+1
        else:
          base.append({"ID":random.randrange(3000,4000),"Nombre":random.choice(mujeres),"Apellido Paterno":random.choice(appaterno),"Apellido Materno":random.choice(apmaterno),"Edad": random.randrange(18,60),"Sexo":"Mujer"})
          j=j+1

In [5]:
def imprimir(base):
    print(tabulate(base))

In [6]:
def menu():
    while True:
        print("M E N U")
        print("1. Generar Datos")
        print("2. Desplegar")
        print("0. Salir")
        try:
            op=int(input("Ingrese una opcion: "))
            if op == 1:
                generarnombre()
            elif op == 2:
                imprimir(base)
            elif op == 0:
                False
                break
        except:
            continue
menu()

M E N U
1. Generar Datos
2. Desplegar
0. Salir
Ingrese una opcion: 1
M E N U
1. Generar Datos
2. Desplegar
0. Salir
Ingrese una opcion: 2
----  ---------  ---------  ---------  --  ------
3449  ALEJANDRO  PEREZ      ESCALONA   24  Hombre
3521  LUCY       FUENTES    RIOS       36  Mujer
3226  SOFIA      REYES      LUGO       33  Mujer
3156  IRENE      HERRERA    CAMPOS     22  Mujer
3710  MARTIN     MARTINEZ   SOSA       57  Hombre
3649  DAVID      LEON       CARRILLO   23  Hombre
3677  LUCY       ROMERO     GARCIA     40  Mujer
3137  ADELINE    GUERRERO   PERALTA    38  Mujer
3761  MARIO      FERNANDEZ  GARCIA     53  Hombre
3488  PAULA      REYES      HERNANDEZ  54  Mujer
----  ---------  ---------  ---------  --  ------
M E N U
1. Generar Datos
2. Desplegar
0. Salir
Ingrese una opcion: 0